spring:
  application:
    name: audit-service

server:
  port: 8086

---
spring:
  config:
    activate:
      on-profile: dev

  data:
    mongodb:
      uri: mongodb://admin:admin123@localhost:27018/audit_db?authSource=admin

  kafka:
    bootstrap-servers: localhost:9093
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
    consumer:
      group-id: audit-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
    properties:
      schema.registry.url: http://localhost:8082

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/brokage
          jwk-set-uri: http://localhost:8180/realms/brokage/protocol/openid-connect/certs

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://localhost:4317

logging:
  level:
    root: INFO
    com.brokage: DEBUG

---
spring:
  config:
    activate:
      on-profile: docker

  data:
    mongodb:
      uri: mongodb://admin:admin123@mongodb:27017/audit_db?authSource=admin

  kafka:
    bootstrap-servers: kafka:29092
    properties:
      schema.registry.url: http://schema-registry:8081

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/brokage
          jwk-set-uri: http://keycloak:8080/realms/brokage/protocol/openid-connect/certs

management:
  otlp:
    tracing:
      endpoint: http://lgtm:4317

---
spring:
  config:
    activate:
      on-profile: test

  data:
    mongodb:
      uri: mongodb://localhost:27017/test_audit_db

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/brokage
