version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: integration-postgres
    environment:
      POSTGRES_DB: brokage_test
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    ports:
      - "5433:5432"
    networks:
      - integration-network

  mongodb:
    image: mongo:6.0
    container_name: integration-mongodb
    ports:
      - "27018:27017"
    networks:
      - integration-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: integration-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - integration-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: integration-kafka
    depends_on:
      - zookeeper
    ports:
      - "9093:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - integration-network

  keycloak:
    image: quay.io/keycloak/keycloak:23.0.3
    container_name: integration-keycloak
    command: start-dev
    environment:
      KC_DB: dev-file
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8181:8080"
    networks:
      - integration-network

networks:
  integration-network:
    driver: bridge
